<div class='jumbotron'>
    <h1>Bienvenido a DogFinder</h1>
    <p>Encuentra y adopta un perro de la calle.</p>
    <%= link_to 'Acerca', home_about_path, class: 'btn btn-primary' %>
    <%= link_to 'Inicio', root_path, class: "btn btn-success" %>
</div>